p{
    text-align: center;
    font-size: 150%;
  }
  
.inner{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
}

.button{
  height: 50px;
  color: blue;
  font-size: 70%;
}