p{
    text-align: center;
<<<<<<< HEAD
  }
  
  .inner{
    text-align: center;
  }
  
  .example{
    text-align: center;
  }

.main_h2{
    text-align: center;
    width:150px;
    height:35px;
    line-height:35px;
}

/* .flex {
  display: flex;
  justify-content: space-between;
} */

.del{
  display: flex;
  width:100px;
  height:35px;
  line-height:35px;
  margin-left: 900px;
  margin-top: 10px;
}
.del a{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#FF0000;
  text-align:center;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:21px;
  -webkit-border-radius:21px;
  -moz-border-radius:21px;
}
.del a:hover{
  background:#D8D4D3;
  color:#FFFFFF;
  margin-left:3px;
  margin-top:11px;
  box-shadow:none;
=======
}

.inner{
  text-align: center;
}

.example{
  text-align: center;
}

.error{
  color: red;
>>>>>>> 71abfca40dcd1cb68f096ed428953609e58df88c
}
