/* h1 */
.h1{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 幅 */
  margin: 30px;

}

/* 科目名 */
.name{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 幅 */
  margin: 10px;

}

#name{

  background-color: white;
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;

}

/* 年度 */
.year{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 幅 */
  margin: 10px;

}

#year{

  background-color: white;
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;

}


/* 前期・後期 */
.period{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 幅 */
  margin: 10px;

}


/* 単位数 */
.number{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 幅 */
  margin: 10px;

}

/* 科目分類 */

.classification{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 幅 */
  margin: 10px;
}

#classification{

  background-color: white;
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;

}

/* 科目内容 */

.content{

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

/* 幅 */
  margin: 10px;
}

#content{

  background-color: white;
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;

}

/* 送信する */
.send{

  text-align: center;

  /* 幅 */
  margin: 10px;
}
