.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

a {
  color: white;
}

.fullscreen-container {
  position: relative;
  width: 100vw; /* 幅をビューポートの幅に設定 */
  height: 100vh; /* 高さをビューポートの高さに設定 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 画像を保持し、必要に応じてクロップする */
}

.message-container {
  position: relative;
  z-index: 1; /* メッセージを写真の上に配置 */
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
}
