/* .inner{
  text-align: center;
}

.flex {
  display: flex;
}

.mar_r_30 {
  margin-right: 30px;
}
.del a:hover{
  background:#D8D4D3;
  color:#FFFFFF;
  margin-left:3px;
  margin-top:11px;
  box-shadow:none;
} */
