.inner {
  /* width: 500px; */
  width: max-content;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.mar_r_30 {
  margin-right: 30px;
}

.mar_b_50 {
  margin-bottom: 50px;
}

.delete_button {
  background-color: red;
  color: white;
}
