html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fullscreen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(200%); /* 背景画像の明るさを調整する */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

form p {
  text-align: center;
  margin-bottom: 5px;
}

.inner {
  text-align: center;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 100px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
